{% extends 'base.html' %}

{% block content %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
   

   <form action="" method="post">
    {% csrf_token %}
    <table style="margin-top: 100px;">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Action</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{cart_item.product.name}}</td>
                    <td>{{cart_item.quantity}}</td>
                    <td>{{cart_item.product.price}}</td>
                    <td>{{cart_item.total_price}}</td>
                    <td>

                        <a href="{% url 'purchased' cart_item.id %} ">
                            <button>Purchase</button>
                        </a>
                        <a href="">
                            <button>Remove</button>
                        </a>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            <!-- Add more rows as needed -->
        </tbody>
    </table>
   </form>
</body>

{% endblock %}

