{% extends 'base.html' %}

{% block content %}
    <h1>Shopping Cart</h1>
    {% if cart_items %}
        <ul>
            {% for cart_item in cart_items %}
                <li>
                    <strong>{{ cart_item.product.name }}</strong> 
                    - Quantity: {{ cart_item.quantity }} 
                    - Price: ${{ cart_item.product.price }} each
                </li>
            {% endfor %}
        </ul>
        <p>Total items in cart: {{ total_items }}</p>
        <p>Total price: ${{ total_price }}</p>
        <!-- Add buttons for updating cart or proceeding to checkout -->
        {% comment %} <a href="{% url 'buy_now' %}">Buy now</a> {% endcomment %}
    {% else %}
        <p>Your shopping cart is empty.</p>
    {% endif %}
{% endblock %}
