
{% extends 'base.html' %}

{% block content %}
<h1>{{ product.name }}</h1>
    <img src="{{ product.image }}" alt="{{ product.name }}" style="max-width: 300px;">
    <p>Price: ${{ product.price }}</p>

    <h2>Features:</h2>
    <ul>
        {% for detail in product.details_set.all %}
            <li>{{ detail.feature }}</li>
        {% endfor %}
    </ul>

    <div>
        <!-- Button to go back to product list -->
        <button onclick="window.location.href='{% url 'product' %}'">Back to Product List</button>
        
        <!-- Button to add product to cart (replace '#' with appropriate URL) -->
        <a href='/add_to_cart/{{product.id}}'>
            <button type="submit"> Add to Cart</button>
        </a>
        <!-- Button to proceed to checkout (replace '#' with appropriate URL) -->
        <button onclick="window.location.href=''">Buy Now</button>
    </div>


{% endblock content %} 
